/* body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
} */

.title {
  text-align: center;
  color: #696969;
  font-size: 1.7rem;
}

.btn-abc {
  width: 6rem;
}

.logo-text {
  color: white;
  font-family: "Libre Baskerville", serif;
}

.logo-text-light {
  color: white;
  font-family: "Varela Round", sans-serif;
}

* {
  font-family: "Varela Round", sans-serif;
}
